p {
    background-color: yellow;
}

.introduction {
    border: 5px dashed rgb(224, 86, 109);
    color: brown;
}

.mainPart {
    font-size: 20px;
    font-weight: bold;
    color: green;
    text-align: center;

.ending {
    background-color: lightsalmon;
    padding-top: 50px;
    text-align: right;
}

